
SOURCECODE/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
SOURCECODE/.vs/GigdiPuller/FileContentIndex/06f892f0-75b5-4db4-b7ad-b85489dc9afa.vsidx
SOURCECODE/.vs/GigdiPuller/FileContentIndex/17c28d3d-793f-4d34-81a9-60de240e9508.vsidx
SOURCECODE/.vs/GigdiPuller/FileContentIndex/06f892f0-75b5-4db4-b7ad-b85489dc9afa.vsidx
SOURCECODE/.vs/GigdiPuller/FileContentIndex/48f70b0d-00e0-4d77-978b-480a304f8813.vsidx
SOURCECODE/.vs/GigdiPuller/FileContentIndex/6440f755-bdb4-4a6d-acc7-5a8b6530d414.vsidx
SOURCECODE/.vs/GigdiPuller/FileContentIndex/f7423501-e59a-4ded-bb55-3caa6284132e.vsidx
SOURCECODE/.vs/GigdiPuller/FileContentIndex/06f892f0-75b5-4db4-b7ad-b85489dc9afa.vsidx
SOURCECODE/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
SOURCECODE/obj/Release/GigdiPuller.csproj.AssemblyReference.cache
SOURCECODE/.vs/GigdiPuller/FileContentIndex/06f892f0-75b5-4db4-b7ad-b85489dc9afa.vsidx
SOURCECODE/obj/Release/GigdiPuller.csproj.AssemblyReference.cache
SOURCECODE/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
SOURCECODE/.vs/GigdiPuller/FileContentIndex/f7423501-e59a-4ded-bb55-3caa6284132e.vsidx
SOURCECODE/.vs/GigdiPuller/FileContentIndex/06f892f0-75b5-4db4-b7ad-b85489dc9afa.vsidx
*.cache
*.vsidx
SOURCECODE/.vs/GigdiPuller/FileContentIndex/09f6528b-926c-4063-b533-b6833e8aa9c5.vsidx
*.vsidx
*.vsidx
SOURCECODE/obj/Release/GigdiPuller.csproj.AssemblyReference.cache
SOURCECODE/.vs/GigdiPuller/FileContentIndex/f7423501-e59a-4ded-bb55-3caa6284132e.vsidx
SOURCECODE/.vs/GigdiPuller/FileContentIndex/f7423501-e59a-4ded-bb55-3caa6284132e.vsidx
SOURCECODE/obj/Release/GigdiPuller.csproj.AssemblyReference.cache
SOURCECODE/.vs/GigdiPuller/FileContentIndex/09f6528b-926c-4063-b533-b6833e8aa9c5.vsidx
SOURCECODE/.vs/GigdiPuller/FileContentIndex/06f892f0-75b5-4db4-b7ad-b85489dc9afa.vsidx
